/* Responsive */
@media (max-width: 600px) {
  .left-panels { width:65px; }
  .rooms-panel { width:300px; }
  .channel-status-panel { width:300px; }
  .app-title { font-size:1.2rem; }
  .right-panel { width:200px; }
}
@media (max-width: 600px) {
  .channel-status-panel {
    left: 0;
    width: 100%;
    border-radius: 0;
    box-shadow: none;
  }
  .channel-status-panel .connection-header,
  .channel-status-panel .channel-info-row,
  .channel-status-panel .button-row,
  .channel-status-panel .user-card {
    justify-content: center;
  }
  .channel-status-panel .button-row {
    flex-direction: column;
  }
}

@media (max-width: 400px) {
  #userSettingsPage .sidebar-region-scroller {
    display: none;
  }
}