/* channelStatus.css */

/* Kanal Durum Paneli */
.channel-status-panel {
  position: absolute;
  left: 65px;
  width: 300px;
  background: #262626;
  box-sizing: border-box;
  height: 45px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.5rem;
  bottom: 57px;
  z-index: 10;
}
.chan-status-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.signal-bars {
  display: flex;
  gap: 2px;
}
.cell-bar {
  width: 6px;
  background: #666;
  border-radius: 2px;
  align-self: flex-end;
  transition: all 0.2s ease;
}
#cellBar1 { height: 10%; }
#cellBar2 { height: 30%; }
#cellBar3 { height: 55%; }
#cellBar4 { height: 80%; }
.cell-bar.active {
  background: #c61884;
}
.leave-btn {
  background: none;
  border: 2px solid #c61884;
  color: #c61884;
  cursor: pointer;
  width: 30px;
  height: 25px;
  padding: 0;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  margin-right: 0.4rem;
}
.leave-btn:hover {
  background: #a3156f;
  border-color: #a3156f;
  color: #fff;
}
