/* dm.css */

/* DM panel */
.dm-panel {
  width: 265px;
  background: #222;
  color: #fff;
  padding: 1rem;
  box-sizing: border-box;
  overflow: auto;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
}
.dm-close-btn {
  position: absolute;
  top: 1rem;
  left: 0.55rem;
}
